<% content_for(:title, "Create Account") %>

<div class="border-form-div">
  <h2>Create Account</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}  ) do |f| %>
    <%= f.error_notification %>

    <div class="form-group">
      <%= f.label "Email", :email, class: "col-sm-4 control-label" %>
      <div class="input-group col-sm-7">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        <%= f.email_field :email, required: true, autofocus: true, :placeholder => 'email@provider.com', class: "form-control"  %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Full Name", :username, class: "col-sm-4 control-label" %>
      <div class="input-group col-sm-7">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
        <%= f.text_field :username, :placeholder => 'Your full name', class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Password", :password, class: "col-sm-4 control-label" %>
      <div class="input-group col-sm-7">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <%= f.password_field :password, required: true, :placeholder => 'Password with 8 characters', class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Confirm Password:", :password_confirmation, class: "col-sm-4 control-label" %>
      <div class="input-group col-sm-7">  
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <%= f.password_field :password_confirmation, required: true, :placeholder => 'Type it again to confirm', class: "form-control"  %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-7">
        <%= button_tag(type: "submit", class: "btn btn-default float-btn", title: "Create an Account") do %>
          <i class="fa fa-plus fa-fw"></i> Create Account
        <% end %>      
        <%= link_to '<i class="fa fa-sign-in fa-fw"></i> Log In'.html_safe, new_session_path(resource_name),class: "btn btn-default float-btn", title: "Log In with Existing Account" %>
      </div>
    </div>

  <% end %>
</div>