<h4>Interview Details</h4>

<p><b>Company: </b><%= link_to "#{@company.name}", company_path(@company) %></p>
<p><b>Job: </b><%=link_to "#{@job.description}", job_path(@job) %></p>
<p><b>Date Scheduled: </b><%= @interview.interview_date %></p>
<p><b>Notes: </b><%=@interview.notes %></p>
<br>
<h4>Update Notes for this interview </h4>
<%= render 'edit' %>