<% content_for(:title, "Job Interviews") %>

<div class="row col-pads">
  <h4>Interview Details</h4>
  <p><b>Company: </b><%= link_to "#{@company.name}", company_path(@company),title:"View #{@company.name}" %></p>
  <p><b>Job: </b><%=link_to "#{@job.description}", job_path(@job),title:"View #{@job.description} Job Application" %></p>
  <p><b>Date Scheduled: </b><%= @interview.interview_date.strftime("%m/%d/%Y") %></p>
  <p><b>Time Scheduled: </b><%= @interview.interview_time.strftime("%I:%M %p") %></p>
  <p><b>Notes: </b><%=@interview.notes %></p>
  <br>
</div>

<div class="row col-pads">
  <div class="show-edit-del">
    <%= link_to edit_job_interview_path(@job,@interview),title:"Edit Interview Details" do %>
      <%= image_tag("edit.png") %>
      <p>Edit</p>
    <% end %>
  </div>
  <div class="show-edit-del">
    <%= link_to job_interview_path(@job,@interview), data: {method: :delete, confirm: "Are you sure you want to delete this interview for the #{@job.description} job?" }, title: "Delete this Interview" do %>
      <%= image_tag("trash-holiday.png") %>
      <p>Delete</p>
    <% end %>
  </div>
  <div class="show-edit-del">
  <%= link_to company_job_path(@company, @job),title:"Back to Job Page" do %>
    <%= image_tag("navigation.png") %>
     <p>Back</p>
  <% end %>
  </div>
</div>