<%= form_for(@company, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @company.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h4>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :url, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :url, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :comments, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :comments, :class => "form-control" %>
    </div>
  </div>

  <%= f.fields_for :jobs do |t| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        Jobs
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= t.label :description, :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <%= t.text_field :description, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= t.label :location, :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <%= t.text_field :location, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= t.label :posting_url, :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <%= t.text_field :posting_url, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= t.label "Date Applied", class: 'col-lg-2 control-label' %>
          <div class="col-lg-10">
          <%= t.date_field :application_date, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
