<%= form_for(@one_step, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @one_step.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@one_step.errors.count, "error") %> prohibited this company from being saved:</h4>

      <ul>
      <% @one_step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :company do |c| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        Company
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= c.label :name, :class => "col-sm-2 control-label" %>
          <div class="col-sm-9">
            <%= c.text_field :name, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= c.label :url, "Website", :class => "col-sm-2 control-label" %>
          <div class="col-sm-9">
            <%= c.text_field :url, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= c.label :comments, :class => "col-sm-2 control-label" %>
          <div class="col-sm-9">
            <%= c.text_field :comments, :class => "form-control" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= f.fields_for :job do |j| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        Job Application
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= j.label :description, :class => "col-sm-2 control-label" %>
          <div class="col-sm-9">
            <%= j.text_field :description, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= j.label :location, "City/State", :class => "col-sm-2 control-label" %>
          <div class="col-sm-9">
            <%= j.text_field :location, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= j.label :posting_url, "Web link to job", :class => "col-sm-2 control-label" %>
          <div class="col-sm-9">
            <%= j.text_field :posting_url, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= j.label :application_date, "Date Applied", class: 'col-sm-2 control-label' %>
          <div class="col-sm-9">
          <%= j.date_field :application_date, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
      <%= f.submit(:class => "btn btn-default float-btn") %>
      <%= link_to "Cancel", :back, class: "btn btn-default float-btn" %>
    </div>
  </div>

<% end %>
