<%= render 'layouts/errors', object: @reminder %>

<%= form_for [@context, @reminder], html: { class: 'form-horizontal' } do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id  %>
  <div class="form-group">
    <%= f.label :subject, "Subject", class: "col-xs-12 col-sm-3" %>
    <div class="input-group col-xs-12 col-sm-7">
      <span class="input-group-addon"><i class="fa fa-book fa-fw form-fa"></i></span>
      <%= f.text_area :subject, class: "form-control", placeholder: "Enter a reminder here." %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :due_date, "Date to remind", class: "col-xs-12 col-sm-3" %>
    <div class="input-group col-xs-6 col-sm-6">
      <span class="input-group-addon"><i class="fa fa-calendar fa-fw form-fa"></i></span>
      <%= f.date_field :due_date, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
      <%= render 'layouts/submit', form_type: "Reminder", object: @reminder, f: f %>
    </div>
  </div>

<% end %>
