<% content_for(:title, "Job Applications") %>

<div class="row show-header-box">
  <div class="col-xs-12 col-sm-6 col-md-4 show-header-title">
    <h2>Job Applications List</h2>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
    <p>The job application list is to keep track of jobs you have applied with companies. The first step here is to <%= link_to "Create or select a company", companies_path, title: "View the company list to create new one" %>. Then create your job application for that specific company by clicking <b>Add New</b> Application. Then enter the information about it. From this page you can view all the individual job applications and open them up to see the detailed information. That detailed information includes being able to log all your responses and interviews for that job.</p>
  </div>
</div>

<div class="row jobs-ul">
<ul class="fa-ul">
  <% @all_jobs.each do |job| %>
    <% company = Company.find(job.company_id) %>
    <li><p>
      <%= link_to company_job_path(company, job),title:"View #{job.description} at #{company.name}" do %>
        <%= job.description %> at <%= company.name %>
        <%= render 'layouts/job_closed', object: job %>
      <% end %>
    </p></li>
  <% end %>
</ul>
</div>
