<h4>Job Title: <%= @job.description %></h4>
<p><b>Location: </b><%= @job.location %></p>
<p><b>Posting ID: </b><%= @job.posting_number %></p>
<p><b>Company: </b><%= link_to @job.company.name, company_path(@job.company) %></p>
<p><b>Date Applied: </b><%= @job.application_date.strftime("%m/%d/%Y") %>
<p><b>Scheduled Interview(s): </b>
        <% if @job.interviews != [] %>
          <% @job.interviews.each do |interview| %>
            <p><b>Date:</b><%=  link_to "#{interview.interview_date.strftime("%m/%d/%Y")}", job_interview_path(@job, interview), title: "View this Interview" %>
            | <b>Notes:</b><%= interview.notes %></p>
          <% end %>
        <% else %>
          <p>None Yet.</p>
        <% end %>
</p>

<div class="margin-top">
  <div class="show-edit-del">
    <%= link_to new_job_interview_path(@job) do %>
      <%= image_tag("db-add-icon.png") %>
      <p>Add Interview</p>
    <% end %>
  </div>
  <div class="show-edit-del">
    <%= link_to edit_company_job_path(@job.company, @job) do %>
      <%= image_tag("edit.png") %>
      <p>Edit</p>
    <% end %>
  </div>
  <div class="show-edit-del">
    <%= link_to [@job.company, @job], :method => :delete, :confirm => 'Are you sure?' do %>
      <%= image_tag("trash-holiday.png") %>
      <p>Delete</p>
    <% end %>
  </div>
  <div class="show-edit-del">
  <%= link_to company_jobs_path do %>
    <%= image_tag("navigation.png") %>
     <p>Back</p>
  <% end %>
  </div>
</div>