<% content_for(:title, "Job Applications") %>

<div class="row col-pads">
  <h4>Job Title: <span class="company-show-head"><%= @job.description %></span></h4>
  <p><b>Company Name: </b><%= link_to @job.company.name, company_path(@job.company) %></p>
  <p><b>Location: </b><%= @job.location %></p>
  <p><b>Web link to Job: </b><%= link_to "#{@job.posting_url}", @job.posting_url, target: "_blank" %></p>
  <p><b>Date Applied: </b><%= @job.application_date.strftime("%m/%d/%Y") %>
  <p><b>Application Status: </b><%= render 'layouts/job_closed', object: @job%></p>
  <p><b>Responses from Company: </b>
    <% if @job.responses != [] %>
      <% @job.responses.each do |response| %>
        <p><b>Date: </b><%=  link_to "#{response.response_date.strftime("%m/%d/%Y")}", job_response_path(@job, response), title: "View this Response" %>
        | <b>Notes: </b><%= response.notes %></p>
      <% end %>
    <% else %>
      <p>None Yet.</p>
    <% end %>
  </p>
  <p><b>Interview(s): </b>
    <% if @job.interviews != [] %>
      <% @job.interviews.each do |interview| %>
        <p><b>Date: </b><%=  link_to "#{interview.interview_date.strftime("%m/%d/%Y")}", job_interview_path(@job, interview), title: "View this Interview" %>
        | <b>Notes: </b><%= interview.notes %></p>
      <% end %>
    <% else %>
      <p>None Yet.</p>
    <% end %>
  </p>


</div>

<div class="margin-top col-pads">
  <div class="show-edit-del">
    <%= link_to new_job_interview_path(@job) do %>
      <%= image_tag("db-add-icon.png") %>
      <p>Add Interview</p>
    <% end %>
  </div>
  <div class="show-edit-del">
    <%= link_to new_job_response_path(@job) do %>
      <%= image_tag("db-add-icon.png") %>
      <p>Add Response</p>
    <% end %>
  </div>
  <div class="show-edit-del">
    <%= link_to edit_company_job_path(@company, @job) do %>
      <%= image_tag("edit.png") %>
      <p>Edit</p>
    <% end %>
  </div>
  <div class="show-edit-del">
    <%= link_to [@job.company, @job], data: {method: :delete, confirm: "Are you sure you want to delete the #{@job.description} job application from #{@company.name}?" } do %>
      <%= image_tag("trash-holiday.png") %>
      <p>Delete</p>
    <% end %>
  </div>
  <div class="show-edit-del">
  <%= link_to company_path(@company) do %>
    <%= image_tag("navigation.png") %>
     <p>Back</p>
  <% end %>
  </div>
</div>