<% content_for(:title, "The Jobseeker - A Job Search Organizer") %>

<%= video_tag("clouds.mp4", :autoplay=> "true", :muted=>"true", :loop=>"true", class:"bgvideo") %>

<div class="welcome-head">
  <h1>Welcome to the Jobseeker!</h1>
  <h3><%= link_to "Log In", new_user_session_path, id: "login-prof" %> now to organize your jobsearch.</h3>
</div>

<div class="welcome-body">
  <div class="row">
    <div class="col-xs-12 col-sm-3 image-div">
      <%= link_to image_tag("welcome-mobile1.png", class: "image-style"), new_user_session_path, id: "login-prof", title: "Log In now to start using The Jobseeker" %>
      <p>See your reminders and recent activities from your home page.</p>
    </div>    
    <div class="col-sm-6 col-xs-12 image-div">
      <%= link_to image_tag("welcome-full1.png", class: "image-style"), new_user_session_path, id: "login-prof", title: "Log In now to start using The Jobseeker"  %>
      <p>Once you create a company you then enter the job you applied for, create contacts and more.</p>
    </div>
    <div class="col-xs-12 col-sm-3 image-div">
      <%= link_to image_tag("welcome-mobile2.png", class: "image-style"), new_user_session_path, id: "login-prof", title: "Log In now to start using The Jobseeker"  %>
      <p>Each job application has a wealth of information opportunities, including tracking responses and interviews with note logs.</p>
    </div>    
  </div>
</div>