<%= render 'layouts/errors', object: @contact %>

<%= form_for(([@contact.company, @contact]), html: { class: 'form-horizontal' }) do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">
    <%= f.label :first_name, "First Name", class: 'col-sm-3 control-label' %>
    <div class="input-group col-xs-12 col-sm-7">
      <span class="input-group-addon"><i class="fa fa-user fa-fw form-fa"></i></span>
    <%= f.text_field :first_name, class: 'form-control', :autofocus=>true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, "Last Name", class: 'col-sm-3 control-label' %>
    <div class="input-group col-xs-12 col-sm-7">
      <span class="input-group-addon"><i class="fa fa-user fa-fw form-fa"></i></span>
    <%= f.text_field :last_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :title, "Title", class: 'col-sm-3 control-label' %>
    <div class="input-group col-xs-12 col-sm-7">
      <span class="input-group-addon"><i class="fa fa-briefcase fa-fw form-fa"></i></span>
    <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email", class: 'col-sm-3 control-label' %>
    <div class="input-group col-xs-12 col-sm-7">
      <span class="input-group-addon"><i class="fa fa-envelope fa-fw form-fa"></i></span>
    <%= f.text_field :email, placeholder: "example: john@company.com",class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cell_phone, "Cell Phone", class: 'col-sm-3 control-label' %>
    <div class="input-group col-xs-12 col-sm-7">
      <span class="input-group-addon"><i class="fa fa-mobile fa-fw form-fa"></i></span>
    <%= f.text_field :cell_phone, placeholder: "123-456-7890",class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :work_phone, "Work Phone", class: 'col-sm-3 control-label' %>
    <div class="input-group col-xs-12 col-sm-7">
      <span class="input-group-addon"><i class="fa fa-phone fa-fw form-fa"></i></span>
    <%= f.text_field :work_phone, placeholder: "123-456-7890", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-8">
      <%= render 'layouts/submit', form_type: "Contact", object: @contact, f: f %>
    </div>
  </div>

<% end %>