<%= render 'layouts/errors', object: @contact %>

<%= form_for(([@contact.company, @contact]), html: { method: :put, class: 'form-horizontal' }) do |f| %>

  <div class="form-group">
    <%= f.label "First Name", class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
    <%= f.text_field :first_name, :autofocus=>true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Last Name", class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
    <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Email", class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
    <%= f.text_field :email %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Cell Phone", class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
    <%= f.text_field :cell %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Work Phone", class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
    <%= f.text_field :work_number %> 
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit(:class => "btn btn-primary") %>
    </div>
  </div>

<% end %>