<%= render 'layouts/errors', object: @contact %>

<%= form_for(([@contact.company, @contact]), html: { class: 'form-horizontal' }, remote: true) do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">
    <%= f.label :first_name, "First Name", class: 'col-sm-3 control-label' %>
    <div class="input-group col-xs-12 col-sm-7">
      <span class="input-group-addon"><i class="fa fa-user fa-fw form-fa"></i></span>
      <%= f.text_field :first_name, class: 'form-control', :autofocus=>true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, "Last Name", class: 'col-sm-3 control-label' %>
    <div class="input-group col-xs-12 col-sm-7">
      <span class="input-group-addon"><i class="fa fa-user fa-fw form-fa"></i></span>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :title, "Title", class: 'col-sm-3 control-label' %>
    <div class="input-group col-xs-12 col-sm-7">
      <span class="input-group-addon"><i class="fa fa-briefcase fa-fw form-fa"></i></span>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email", class: 'col-sm-3 control-label' %>
    <div class="input-group col-xs-12 col-sm-7">
      <span class="input-group-addon"><i class="fa fa-envelope fa-fw form-fa"></i></span>
      <%= f.email_field :email, placeholder: "example: john@company.com",class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cell_phone, "Cell Phone", class: 'col-sm-3 control-label' %>
    <div class="input-group col-xs-12 col-sm-7">
      <span class="input-group-addon"><i class="fa fa-mobile fa-fw form-fa"></i></span>
      <%= f.telephone_field :cell_phone, placeholder: "123-456-7890",class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :work_phone, "Work Phone", class: 'col-sm-3 control-label' %>
    <div class="input-group col-xs-12 col-sm-7">
      <span class="input-group-addon"><i class="fa fa-phone fa-fw form-fa"></i></span>
      <%= f.telephone_field :work_phone, placeholder: "123-456-7890", class: 'form-control' %>
    </div>
  </div>

  <h4>Social Media Accounts (Optional)</h4>

  <div class="add-account">
    <%= render 'add_account', object: :accounts, f:f %>
  </div>

  <div id="social-account"></div>

  <div class="col-sm-offset-3">
    <%= button_tag(f.object.new_record? ? "<i id='iconChange'class='fa fa-list-alt'> Add another Social Account</i>".html_safe : "<i id='iconChange'class='fa fa-list-alt'> Update the Social Account</i>".html_safe,id:"add-account-btn",type:'button',class: "btn btn-default btn-nofloat",title:'Click if you want to to add another social media account') %>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-8">
      <%= render 'layouts/submit', form_type: "Contact", object: @contact, f: f %>
    </div>
  </div>

<% end %>