<h4>User Feedback</h4>
<p>User email: <%= @feedback.sender_email if @feedback.sender_email!= "" %></p>
<p>User name: <%= @feedback.sender_name %></p>
<% if @feedback.user_id !="" %>
  <p>Registered User ID: <%= @feedback.user_id %></p>
<% end %>
<hr>
<h4>Subject</h4>
<p><%= @feedback.subject %></p>
<br>
<h4>Body</h4>
<p><%= @feedback.body %></p>