<%= render 'layouts/errors', object: @company %>

<%= form_for @company do |f| %>
  <div class="form-group">
    <%= f.label "Company Name" %>
    <%= f.text_field :name, :autofocus=>true %>
    <%= f.submit(:class => "btn btn-primary") %>
  </div>
<% end %>