<% content_for(:title, "Companies") %>

<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Company</li>
</ol>


<div class="row show-header-box">
  <div class="col-xs-12 col-sm-6 show-header-title">
    <h2><span class="show-head"> <%= @company.name %></span> <%= button_tag("<i id='iconChange'class='fa fa-chevron-down'> Company Info </i>".html_safe ,id:"view-comp-info-btn",type:'button',class: "btn btn-default btn-nofloat",title:'View Company Information') %>
    </h2>
  </div>
  <div class="reminder-head col-xs-12 col-sm-6">
    <% if @company.reminders.count > 0 %>
      <h4>Important Reminder:</h4>
      <% @company.reminders.each do |reminder| %>
        <p><%= l reminder.due_date, format: :short %> - 
          <%= link_to "<i class='fa fa-reminder fa-bell'></i> #{reminder.subject}".html_safe, company_reminder_path(@company,reminder), title: "View This Reminder", alt: "View This Reminder" %>
          </p>
      <% end %>
    <% else %>
      <h4><%= link_to new_company_reminder_path(@company), title: "Create New Reminder", alt: "Create New Reminder" do %>
            <%= content_tag(:i,nil,class: 'fa-reminder fa fa-bell-slash')%>
            No reminders found - Create one
          <% end %></h4>
    <% end %>
  </div>
</div>

<div id="comp-info" class="col-xs-12 col-sm-6 col-md-4 col-pads table-div show-bottom-line">

  <div class="comp-notes">
    <% if @company.comments !="" %>
      <table class="table table-condensed table-bordered">
        <th>Notes about <%= @company.name %></th>
        <tr><td><%= @company.comments %></td></tr>
      </table>
    <% end %>
  </div>

  <table class="table table-condensed table-bordered table-striped">
    <thead>
        <th colspan = "2"><h3>Company Information:</h3></th>
    </thead>
    <tbody>
      <tr>
        <td>Website: </td>
        <td>
        <% if @company.url != "" && @company.url !="" %>
          <%= link_to "#{@company.url}", @company.url, target: "_blank", title: "#{@company.url}", alt:"#{@company.url}" %></td>
        <% else %>
          <p> </p>
        <% end %>
      </tr>
      <tr>
        <td>Phone: </td>
        <td><%= @company.phone %></td>
      </tr>
      <tr>
        <td>email: </td>
        <td><%= @company.email %></td>
      </tr>      
      <% if @company.street !="" %>
        <tr>
          <td>Street: </td>
          <td><%= @company.street %></td>
        </tr>      
        <tr>
          <td>City/ST/Zip: </td>
          <td>
            <% if @company.city !=nil && @company.city != "" %>
              <%= @company.city %>, <%= @company.state %> <%= @company.zip %>
              <% else %>
              <p> </p>
            <% end %>
          </td>
        </tr>      
      <% end %>        
    </tbody>
  </table>

  <div class="margin-top">
    <div class="show-edit-del">
      <%= link_to edit_company_path(@company), title: "Edit Company Details", alt: "Edit Company Details" do %>
        <%= image_tag("edit.png") %>
        <p>Edit</p>
      <% end %>
    </div>
    <div class="show-edit-del">
      <%= link_to company_path(@company), data: {method: :delete, confirm: "WARNING! This will delete all contacts and interviews with #{@company.name}. Are you sure?" }, title: "Delete This Company", alt: "Delete This Company" do %>
        <%= image_tag("trash-holiday.png") %>
        <p>Delete</p>
      <% end %>
    </div>
    <div class="show-edit-del">
    <%= link_to root_path, title: "Home Page", alt: "Home Page" do %>
      <%= image_tag("navigation.png") %>
       <p>Home</p>
    <% end %>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 show-bottom-line">
  <div class="row col-pads">
    <h3>Followup Actions
      <%= link_to new_company_followup_path(@company, @followup), class: "btn btn-adds", title: "Add a New Followup", title: "Add a New Followup" do %>
        <%= content_tag(:i,nil,class: 'fa fa-plus fa-2x')%> 
        Add New
      <% end %></h3>
    <p>Keep track of your followup and actions here. Just log them each time you call or do something like email. If your action was with a contact, add them to it.</p>
  </div>
  <div class="row followups-ul">
    <ul class="fa-ul">
      <% @company.followups.each do |followup| %>
        <li><p><%= link_to "#{followup.action_date} - #{followup.action}", company_followup_path(@company,followup), title: "View this followup" %></p></li>
      <% end %>
    </ul>
  </div>

</div>


<div class="col-xs-12 col-sm-6 col-md-4 show-bottom-line">
  <div class="row col-pads">
    <h3>Contacts 
      <%= link_to new_company_contact_path(@company), class: "btn btn-adds", title: "Add a New Contact", alt: "Add a New Contact" do %>
        <%= content_tag(:i,nil,class: 'fa fa-plus fa-2x')%> 
        Add New
      <% end %></h3>
    <p>Add all your contacts with this company. Add them to your responses or interviews to show who contacted you.</p>
  </div>

  <div class="row contacts-ul">
    <ul class="fa-ul">
      <% @company.contacts.each do |contact| %>
        <li><p><%= link_to "#{contact.first_name} #{contact.last_name}", company_contact_path(@company, contact), title: "View #{contact.first_name} #{contact.last_name}", alt: "View #{contact.first_name} #{contact.last_name}" %></p></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="row col-pads">
    <h3>Applications 
      <%= link_to new_company_job_path(@company), class: "btn btn-adds", title: "Add a New Job Application", alt: "Add a New Job Application" do %>
        <%= content_tag(:i,nil,class: 'fa fa-plus fa-2x')%> 
        Add New
      <% end %></h3>
    <p>Enter any job applications sent in to this company. Then view the job to add responses and interviews.</p>
  </div>

  <div class="row jobs-ul">
    <ul class="fa-ul">
      <% @company.jobs.each do |job| %>
        <li><p>
          <%= link_to company_job_path(@company, job), title: "View #{job.description} application", alt: "View #{job.description} Application" do %>
            <%= job.description %>
            <%= render 'layouts/job_closed', object: job%>
          <% end %></p></li>
      <% end %>
    </ul>
  </div>
</div>

