<% content_for(:title, "Companies") %>

<div class="row show-header">
  <h2>Company: <span class="company-show-head"><%= @company.name %></h2></span>
</div>

<div class="col-xs-12 col-sm-4 show-bottom-line">
  <div class="row col-pads">
    <h4>Company Information:</h4>
    <p><b>Website Address: </b><a href="http://<%= @company.url %>" target="blank"><%= @company.url %></a></p>
    <% if @company.comments !="" %>
      <p><b>Notes: </b>  <%= @company.comments %></p>
    <% end %>
  </div>
  <div class="row margin-top">
    <div class="show-edit-del">
      <%= link_to edit_company_path(@company) do %>
        <%= image_tag("edit.png") %>
        <p>Edit</p>
      <% end %>
    </div>
    <div class="show-edit-del">
      <%= link_to company_path(@company), data: {method: :delete, confirm: "WARNING! This will delete all contacts and interviews with #{@company.name}. Are you sure?" } do %>
        <%= image_tag("trash-holiday.png") %>
        <p>Delete</p>
      <% end %>
    </div>
    <div class="show-edit-del">
    <%= link_to root_path do %>
      <%= image_tag("navigation.png") %>
       <p>Home</p>
    <% end %>
    </div>
  </div>

  <div class="row col-pads">
    <% if @company.reminders.count > 0 %>
      <h4>Important Reminders:</h4>
      <% @company.reminders.each do |reminder| %>
        <%= reminder.subject %> - <%= reminder.body %>
      <% end %>
    <% end %>
  </div>
</div>


<div class="col-xs-12 col-sm-4 show-bottom-line">
  <div class="row col-pads">
    <h4>Contacts: </h4>
    <p>Add all your contacts with this company. Add them to your responses or interviews to show who contacted you.</p>
    <div class="show-edit-del">
      <%= link_to new_company_contact_path(@company) do %>
        <%= image_tag("db-add-icon.png") %>
        <p>New</p>
        <% end %>
    </div>
  </div>
  <div class="row contacts-ul">
    <ul class="fa-ul">
      <% @company.contacts.each do |contact| %>
        <li><p><%= link_to "#{contact.first_name} #{contact.last_name} ", company_contact_path(@company, contact) %></p></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="col-xs-12 col-sm-4">
  <div class="row col-pads">
    <h4>Job Applications: </h4>
    <p>Enter any job applications sent in to this company.</p>
    <div class="show-edit-del">
      <%= link_to new_company_job_path(@company) do %>
        <%= image_tag("db-add-icon.png") %>
        <p>New</p>
      <% end %>
    </div>
  </div>
  <div class="row jobs-ul">
    <ul class="fa-ul">
      <% @company.jobs.each do |job| %>
        <li><p>
          <%= link_to company_job_path(@company, job) do %>
            <%= job.description %>
            <%= render 'layouts/job_closed', object: job%>
          <% end %></p></li>
      <% end %>
    </ul>
  </div>

</div>



