<h2>Company: <span class="company-show-head"><%= @company.name %></h2></span>


<p>Website Address <a href="http://<%= @company.url %>" target="blank"><%= @company.url %></a></p>



<%= link_to image_tag("db-add-icon.png", class: "add-btn", title: "Add a new Contact", alt: "Add a new contact"), new_company_contact_path(@company) %>

<h4>Contacts :</h4>
<ul>
  <% @company.contacts.each do |contact| %>
	  <li><p><%= link_to "#{contact.first_name} #{contact.last_name} ", company_contact_path(@company, contact) %></p></li>
  <% end %>
</ul>

<%= link_to image_tag("db-add-icon.png", class: "add-btn", title: "Add a new Job", alt: "Add a new job"), new_company_job_path(@company) %>

<h4>Jobs :</h4>
<ul>
  <% @company.jobs.each do |job| %>
    <li><p><%= link_to "#{job.description}", company_job_path(@company, job) %></p></li>
  <% end %>
</ul>