<%= render 'layouts/errors', object: @feedback %>

<% form_for ([@feedback,@user]) do |f| %>

  <div class="form-group">
    <%= f.label "Subject", :subject, class: "col-xs-12" %>
    <div class="col-xs-6 col-sm-9">
      <%= f.text_field :subject, class: "form-control" %>    
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Body", :body, class: "col-xs-12" %>
    <div class="col-xs-12">
      <%= f.text_field :body, class: "form-control" %>    
    </div>
  </div>

  <%= render 'layouts/submit', form_type: "Feedback", object: @feedback %>

<% end %>

