<%= render 'layouts/errors', object: @feedback %>

<%= simple_form_for @feedback do |f| %>

  <% if current_user != nil %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :sender_email, value: current_user.email %>
    <%= f.hidden_field :sender_name, value: current_user.username %>
    <h4 class="user-greeting">Hello <%= current_user.username %>, what would you like to tell us?</h4>
  <% else %>
    <div class="form-group">
      <%= f.label :sender_name, "Your Name", class: "col-xs-12 col-sm-2 control-label" %>
      <div class="col-xs-12 col-sm-9">
        <%= f.text_field :sender_name, class: "form-control" %>    
      </div>
    </div>

    <div class="form-group">
      <%= f.label :sender_email, "Your Email", class: "col-xs-12 col-sm-2 control-label" %>
      <div class="col-xs-12 col-sm-9">
        <%= f.email_field :sender_email, class: "form-control" %>    
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Subject", :subject, class: "col-xs-12 col-sm-2 control-label" %>
    <div class="col-xs-12 col-sm-9">
      <%= f.text_field :subject, class: "form-control" %>    
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Body", :body, class: "col-xs-12 col-sm-2 control-label" %>
    <div class="col-xs-12 col-sm-9">
      <%= f.text_area :body, size:"100%x8%", class: "form-control" %>    
    </div>
  </div>

  <div class="floater g-recaptcha" data-sitekey="<%= ENV['recaptcha_sitekey'] %>"></div>
  
  <div class="form-group">
    <div class="col-xs-12 feedback-submit">
      <%= render 'layouts/submit', form_type: "Feedback", object: @feedback, f: f %>
    </div>
  </div>

<% end %>

