<!DOCTYPE html>
<html>
<head>
  <title>Jobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        $('#flash').remove();
      }, 4000);
    })
  </script>
</head>
<body class="container-fluid">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <%= link_to image_tag("logo.png", class: "brand-image") + "The Jobseeker", root_path, title: "Home" %>
      </div>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <div class="nav navbar-nav navbar-right">
        <%= render 'layouts/login' %>
      </div>
    </div>
    </nav>

    <ul class="nav nav-pills nav-justified menu-row">
        <li role="presentation">
        <%= link_to "Companies", companies_path, class: "contact-btn btn btn-default", title: "Manage your Companies" %></li>

        <li role="presentation">
        <%= link_to "Contacts", contacts_path, class: "contact-btn btn btn-default", title: "Manage your Jobs" %></li>

        <li role="presentation">
        <%= link_to "Jobs", companies_path, class: "contact-btn btn btn-default",:data =>{:toggle => "pill", :role=>"pill"}, title: "Manage your Jobs" %></li>

        <li role="presentation">
        <%= link_to "Interviews", companies_path, class: "contact-btn btn btn-default",:data => {:toggle => "pill", :role=>"pill"}, title: "Manage your Interviews" %></li>
    </ul>

    	<%= yield %>

  <div id="flash" class="clearfix">
    <% if flash[:notice] != nil %>
      <div class='alert alert-success' role='alert'>
        <%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] != nil %>
      <div class='alert alert-danger' role='alert'>
        <%= flash[:alert] %></div>
    <% end %>
  </div>

  <div class="navbar navbar-default navbar-fixed-bottom">
    <p id="copyright">Ruby on Rails application &copy; 2014 built by: <%= link_to "Visible Difference Web Development", "http://www.visible-difference.com", target: "_blank" %></p>
    
  </div>

</body>
</html>
